<ion-content *ngIf="showPage">
    <ion-slides #slider [options]="mySlideOptions">
        <ion-slide class="bgImage">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="header">
                            <ion-img src="/assets/logoBlock.jpg"></ion-img>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-img class="topImage" src="/assets/homeText.svg"></ion-img>
                        <ion-img class="bottomImage" src="/assets/challengingBeliefs.png"></ion-img>
                    </ion-col>
                </ion-row>
                <ion-row class="fixed--bottom">
                    <ion-col>
                        <ion-text class="footer">
                            <ion-button (click)="next()" color="light">Next <ion-icon name="arrow-round-forward"></ion-icon></ion-button>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="bgBlack">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="small-header">
                            <ion-img src="/assets/logoBlock.jpg"></ion-img>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-img class="heroImage" src="/assets/heroImageOne.jpg"></ion-img>
                        <ion-text color="dark">
                            <h1 class="slider--white">Welcome to the Challenging Beliefs, Affecting Behaviour’ Safety
                                Leadership Programme</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="fixed--bottom">
                    <ion-col>
                        <ion-text class="footer">
                            <ion-button (click)="next()" color="light">Next <ion-icon name="arrow-round-forward"></ion-icon></ion-button>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="bgFade">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="small-header">
                            <ion-img src="/assets/logoBlock.jpg"></ion-img>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text color="light">
                            <h1 class="white">Challenge beliefs</h1>
                        </ion-text>
                        <p class="grey">Lorem ipsum dolor sit amet, cons ectetuer adipiscing
                            elit, sed diam orem ipsum dolor sit amet, conse ctetuer adipisci.</p>
                        <ion-text color="light">
                            <h1 class="white">Affecting behaviour</h1>
                        </ion-text>
                        <p class="grey">Lorem ipsum dolor sit amet, cons ectetuer adipiscing
                            elit, sed diam orem ipsum dolor sit amet, conse ctetuer adipisci.</p>

                    </ion-col>
                </ion-row>
                <ion-row class="fixed--bottom">
                    <ion-col>
                        <ion-text class="footer">
                            <ion-button (click)="next()" color="light">Next <ion-icon name="arrow-round-forward"></ion-icon></ion-button>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="bgFade">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="small-header">
                            <ion-img src="/assets/logoBlock.jpg"></ion-img>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text color="light">
                            <h1 class="white">Why use this App?</h1>
                        </ion-text>
                        <p class="grey">Lorem ipsum dolor sit amet, cons ectetuer adipiscing
                            elit, sed diam orem ipsum dolor sit amet, conse ctetuer adipisci.</p>
                        <ion-text color="light">
                            <h1 class="white">Simple, helpful resources</h1>
                        </ion-text>
                        <p class="grey">Lorem ipsum dolor sit amet, cons ectetuer adipiscing
                            elit, sed diam orem ipsum dolor sit amet, conse ctetuer adipisci.</p>

                    </ion-col>
                </ion-row>
                <ion-row class="fixed--bottom">
                    <ion-col>
                        <ion-text class="footer">
                            <ion-button (click)="finish()">Start
                                <ion-icon name="arrow-round-forward"></ion-icon>
                            </ion-button>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
