<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Delivering the Leadership Programme - The toolkit</h1>
        </div>
        <div class="row rowPadding">
            <p>The Challenging Beliefs, Affecting Behaviour programme has been designed internally to equip our senior
                management and operations teams with all the information needed to ensure that the initiative is
                effective at all levels. This is supported by a training programme required by the business and
                contractors. The supporting toolkit contains all the necessary guidance and documentation 'as
                appropriate' to deliver behavioural based initiatives.</p>
        </div>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/leadership-success" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
