<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Vision, Values<br>and Commitments</h1>
        </div>
        <div class="row rowPadding">
            <p>The Challenging Beliefs, Affecting Behaviour programme is based on a concept of care and has been
                designed to enhance the safety vision: </p>
        </div>
        <div class="row rowPadding rowBlockQuote">
            <div class="icon speechLeft">
                <ion-img src="/assets/speechLeft.svg"></ion-img>
            </div>
            <div class="icon speechRight">
                <ion-img src="/assets/speechRight.svg"></ion-img>
            </div>
            <p>To create and maintain an environment where care for our people and those who work with us is our top
                priority, and the belief that all accidents are preventable prevails.</p>
        </div>
        <div class="row rowPadding">
            <p>This safety vision and the underlying concept of care for our people and those that we work with will be
                the driving force in challenging ourselves and our subcontractors to maximise health and safety
                performance.  In supporting the safety vision, there are a number of values and underlying commitments to
                assist in its delivery.</p>
        </div>
        <div class="listing padding">
            <div class="listingContent">
                <h2>Our Values and Commitments</h2>
                <ol>
                    <li>We acknowledge that health and safety is the top priority within our business.</li>
                    <li>We will work as a business to be industry leading in health and safety.</li>
                    <li>Nothing we do is so important that we cannot take the time to do it safely.</li>
                    <li>The health and safety of our employees, colleagues and the public is paramount.</li>
                    <li>We will endeavour to help everyone we work with to work safely and prevent unsafe working
                        practicesand conditions.
                    </li>
                    <li>We will never knowingly walk past an unsafe act or condition.</li>
                    <li>We are committed to the principle that all accidents are preventable.</li>
                    <li>We will lead by example at all times. All operational personnel are invited to take up the
                        challenge of meeting the values, in a bid to secure the health, safety and welfare of our
                        workforce.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/golden-rules-and" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
