<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Course Organisation</h1>
        </div>
        <div class="row rowPadding">
            <p>All CBAB training is organised and coordinated through local HR training coordinators.</p>
            <p>The Foundation Course is available to all personnel via the Challenging Beliefs, Affecting Behaviour
                website. This provides an overview of the Challenging Beliefs, Affecting Behaviour programme to
                all. </p>
            <p>There are three main training courses thereafter:</p>
            <ul>
                <li>The Leadership Course</li>
                <li>The Leadership Update</li>
                <li>Coaching Course.</li>
            </ul>

            <p> The Leadership course is the bedrock of the Challenging Beliefs, Affecting Behaviour training
                programme. </p>
            <p>This course is aimed at front line ‘Leaders’ of the business who manage people and/or processes. This
                typically includes junior management up to and including Executive Directors. All departments are
                covered by this training.</p>
            <p> The course covers the psychology of why people act the way they do, offers an explanation as to how some
                accidents occur, looks at real safety leadership and introduces the ‘concept of care’ which underpins
                the programme. Furthermore, the course provides an introduction to the ten Challenging Beliefs,
                Affecting Behaviour engagement tools that form the toolkit.</p>
            <p> The Coaching Course is held for carefully selected members of staff who their Coach Champion and fellow
                Directors believe have the attributes and influence to become a site Coach. For the role to be fully
                effective, careful selection is is paramount.</p>
            <p>Typical attendees are from front line Operations roles such as operatives, Foremen, Assistant Site
                Manager, etc. but the course is open to all selected staff in all departments. This course also includes
                the psychology explained in Leadership for New Starters but covers the ten engagement tools in greater
                working detail. Throughout the course, delegates will create a Coach Plan which is bespoke to them and
                their current site. The courses are scheduled for 30 persons using external venues.</p>
            <p>Delegates are not required to have attended a Leadership for New Starters course prior to this one. </p>
            <p>Ahead of the course, all potential delegates will be contacted by a Health, Safety and Sustainability
                Advisor who will explain the role and responsibilities in more detail. After the course, the new Coach
                will receive a follow-up visit from a Health, Safety and Sustainability Advisor which allows them to
                discuss any issues or concerns they may have.</p>
            <p>The training course structure is as shown below. (INSERT SLIDE ATTACHED ON EMAIL)</p>
        </div>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/tools-overview" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
