<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Near Miss Reporting</h1>
        </div>
        <div class="row rowPadding">
            <p>Near Miss Reporting and hazard recognition is an important tool in identifying failings before harm
                occurs. It is one of the main lines of defence against specific sources of risk. The Near Miss
                Observation (NeMO) Card is an effective behavioural tool which can stop complacency on site before
                accidents occur.</p>
	    <p>Near Miss Reporting is also invaluable in obtaining feedback as to the effectiveness of
                our safety culture and management system. Near misses and the early identification of hazards provide us
                with our ‘free warnings’ to take proactive actions to improve our working environment, by highlighting
                potential future accidents, incidents and management failures.</p>
            <p>Appendix 9 includes the Near Miss Reporting pack.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/site-safety-charter" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
