<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">

    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Embrace the challenge</h1>
        </div>
        <div class="row rowPadding">
            <p>Our Executive and Divisional Boards have fully endorsed the implementation of Challenging Beliefs,
                Affecting Behaviour across all operating companies within the Galliford Try Group to promote a culture
                that complements our robust HS&E Standards. Since 2012 the businesses have taken up that challenge and
                have further developed and implemented their own safety initiatives under the banner of Challenging
                Beliefs, Affecting Behaviour. This has achieved great historical success and has embedded our safety
                leadership programme into the culture of the business.
            <p>
            <p>[link to historical story board here]</p>
            <p>We now invite you to join us in playing your part and driving our health and safety culture of the
                business forward.</p>
            <p>All Business Units will still be encouraged to develop and implement their own safety initiatives to
                complement this programme. However, this Toolkit aims to provide the necessary tools to ensure that this
                programme can be effectively facilitated.</p>
        </div>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/the-toolkit" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>


