<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHeroOne.png"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Golden Rules</h1>
        </div>
        <div class="row rowPadding">
            <p>In the pursuit of health and safety excellence, the eight Golden Rules rules are seen as critical in
                achieving the desired level of performance. In all occasions, these Golden Rules work on the
                understanding that:</p>
            <ul>
                <li>Appropriate risk assessments and method statements are in place;</li>
                <li>All persons are trained and competent in the work they conduct;</li>
                <li>PPE is worn as per risk assessment and minimum site requirements; and</li>
                <li>All works are appropriately supervised.</li>
            </ul>
           <div class="redtitle">
				<img src="/assets/title_logos/digger_logo.png"></img>
				<h2>Ground Disturbance</h2>
			</div>
            <p>Galliford Try recognises the high risks from service strikes and excavation collapse when working in the
                ground, and will aim to plan such work to the highest standard.</p>
            <p>Work that involves breaking ground cannot proceed unless:</p>
            <ul>
                <li>The works have been planned by a competent person with a specific risk assessment and resultant
                    ‘permit to break ground’ in place.
                </li>
                <li>all underground hazards, i.e., pipelines, electric cables, etc., have been identified, located and
                    if necessary, isolated
                </li>
            </ul>
            <p>Where persons are to enter an excavation:</p>
            <ul>
                <li>a confined space entry permit shall be issued if the entry meets the confined space definition</li>
                <li>ground movement is controlled and collapse is prevented by systematically shoring, sloping,
                    benching, etc., as designed and appropriate
                </li>
                <li> ground and environmental conditions are continuously monitored for change</li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/clipboard_logo.png"></img>
				<h2>Management of change</h2>
			</div>
            <p>Galliford Try accepts that even robust planning is subject to change on site, and as such will manage
                that process of change effectively. Any temporary and/or permanent changes to work (inc organisation,
                personnel, systems, process, procedures, equipment, products, materials or substances) will not proceed
                unless a Management of Change process is completed, that ensures:</p>
            <ul>
                <li>risk assessment are revisited/generated by appropriate person and communicated to all impacted by
                    the change
                </li>
                <li>Method Statement is amended to clearly specify the timescale for the change and any control
                    measures to be implemented regarding:
                    <ul>
                        <li>equipment, facilities and process</li>
                        <li>operations, maintenance, inspection procedures</li>
                        <li>training, personnel and communication</li>
                        <li>documentation</li>
                    </ul>
                </li>
                <li>authorisation of the work plan by the responsible person(s), and site management, as appropriate
                </li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/scaffold_logo.png"></img>
				<h2>Working at height </h2>
			</div>
            <p>As the biggest cause of fatal and serious injury in our industry, Galliford Try recognises that each and
                every instance of working at height must be deemed high risk and planned and executed appropriately.</p>
            <ul>
                <li>All work at height will be subject to specific risk assessment</li>
                <li>Control measures, including rescue procedures, will be clearly documented and strictly, implemented
                    and monitored.
                </li>
                <li>All ‘low-level’ work at height will be properly planned in relation to the hierarchy of risk and any
                    resultant equipment used will be fit for purpose, correctly erected, and used safely
                </li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/crane_logo.png"></img>
				<h2>Lifting and Hoisting</h2>
			</div>
            <p>Lifting involving any form of craneage (excavators, telehandlers, hoists, mobile/tower cranes, etc) will
                not take place on any Galliford Try workplace unless the following are in place:</p>
            <ul>
                <li>All lifts have been subject to thorough risk assessment and planning carried out by competent
                    persons
                </li>
                <li>All parties involved in completing the lift possess the correct competencies</li>
                <li>The lifting equipment and accessories are fit for purpose, possessing the correct safe working loads
                    and have up to date examinations and inspections
                </li>
                <li>All lifting equipment and accessories have been visually inspected before each lift by a competent
                    person
                </li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/cogs_logo.png"></img>
				<h2>Good Order</h2>
			</div>
            <p>Construction sites will be planned and maintained to give a clean, tidy and safe working environment;
                with clear transport routes segregating plant and pedestrian traffic and a low risk of fire.</p>
            <ul>
                <li>Traffic Management Plans, including risk assessments will be developed for all projects and
                    regularly revised as works progress
                </li>
                <li>Safe, segregated routes for pedestrians with good, clean underfoot conditions will be provided on
                    all sites
                </li>
                <li>Fire risk assessments will be carried out for all workplaces by competent persons and appropriate
                    means of identifying and tackling incidents will be incorporated
                </li>
                <li>A clean and tidy site is expected at all times; Galliford Try staff will challenge all instances of
                    poor housekeeping.
                </li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/flatbed_logo.png"></img>
				<h2>Operating Plant and Vehicles</h2>
			</div>
            <p>A wide variety of construction plant and vehicles operate each and every day across all of our
                activities. All categories of vehicle, including mobile construction plant, will only be operated
                when:</p>
            <ul>
                <li>Vehicle / plant is fit for purpose, inspected and confirmed to be in a safe working order</li>
                <li>Operators / drivers are trained, authorised and medically fit to operate the class of vehicle</li>
                <li>Operators / drivers are never under the influence of alcohol or drugs, and are not suffering from
                    fatigue
                </li>
                <li>They do not use hand-held phones and radios while driving (best practice is to switch off all phones
                    and two-way radios when driving)
                </li>
                <li>The vehicle / plant is operated / driven in full accordance with the manufacturers guidance, speed
                    limits and industry best practice
                </li>
                <li>All construction plant operated on the public highway / in the vicinity of the public should be
                    banked by a competent person
                </li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/tick_logo.png"></img>
				<h2>Temporary Works</h2>
			</div>
     
            <p>Galliford Try expects all temporary works elements to be identified, planned and managed in accordance
                with the following:</p>
            <ul>
                <li>Designs, including manufacturer’s instructions, must be in place for all elements</li>
                <li>All persons involved possess the correct competencies and relevant experience in their particular
                    aspect of temporary works
                </li>
                <li>Temporary works elements are regularly inspected and maintained in good order</li>
            </ul>
			<div class="redtitle">
				<img src="/assets/title_logos/heart_logo.png"></img>
				<h2>Fitness for Work / Employee Wellbeing</h2>
			</div>
 
            <p>All persons working for or on behalf of Galliford Try are required to be medically fit to carry out their
                relevant works. Particular note is paid to the following:</p>
            <ul>
                <li>Medical examinations are required to be in place for those tasks where it is required by law</li>
                <li>Persons must never be under the influence of drugs and / or alcohol whilst on Galliford Try
                    premises
                </li>
                <li>Exposure to substances hazardous to health and physical agents, is monitored accordingly</li>
            </ul>

            <p>These ’8 Golden Rules’ are seen as critical to achieving safety excellence – it is therefore encouraged
                that all personnel working on, or on behalf of, Galliford Try monitors for these issues and intervenes
                where they are identified as falling below the standards expected. It remains a value of Galliford Try
                that we will intervene on unsafe acts and ‘never knowingly walk past an unsafe act or condition’.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/back-to-basics" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
