ion-slide {
  height: 100vh;
  /*flex-direction: column;*/
  --background: url(../../assets/footerBG.jpg) no-repeat top center;
  background-size: cover;
}

ion-img {
  max-width: 90vw;
  max-height: 50vh;
  overflow: hidden;
  margin: 0 auto;
}


.header, .small-header {
  background: #202230;
  display: block;
  width: 100vw;
  left: 0;
  top: 0;
  position: relative;
}


.small-header ion-img {
  max-width: 50vw;
  max-height: 50vh;
  overflow: hidden;
  margin: 0 auto;
}


.fixed--bottom {
  bottom: 0;
  position: fixed;

}


.bgImage {
  /*  padding: 40px 40px 20px 40px;*/
  text-align: center;
  display: block;
  background: url(../../assets/homePageBG.jpg) no-repeat top center;
  background-size: cover;
}


.bgFade {
  --background: url(../../assets/NavyBG.jpg) no-repeat top center;
  background: url(../../assets/NavyBG.jpg) no-repeat top center;
  text-align: center;
  display: block;
}

.bgBlack {
  text-align: center;
  display: block;
  background: #000000;
  color: #ffffff;
}

.slider--white {
  color: #ffffff;
  padding: 50px 30px;
}

.white {
  color: #ffffff;
  font-weight: bold;
}

.grey {
  color: #9a9c9e;
  font-size: 20px;
}


ion-grid, ion-row, ion-col {
  padding: 0 !important;
}

ion-img.topImage {
  max-width: 80vw;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

ion-img.bottomImage {
  max-width: 70vw;
  margin: 0 auto;
  padding: 150px 0 50px 0;
}

ion-img.heroImage {
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

.footer {
  display: block;
  padding: 40px 0 65px 0;
  text-align: center;
  background: url(../../assets/footerBG.jpg) no-repeat top center;
  background-size: cover;
  width: 100vw;
  left: 0;
  bottom: 0;
  position: relative;

}

button {
  display: block;
  padding: 22px 64px;
  border-radius: 8px;
  color: #202230;
  background: #fff;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  margin: 0 auto;
}