<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHeroOne.png"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>An introduction from Peter Truscott</h1>
        </div>
        <div class="row rowPadding">
            <p>I would like to take this opportunity to introduce you to the ‘Challenging Beliefs, Affecting Behaviour’
                Safety Leadership Programme. Having been in place since 2012 we know this programme can, and will,
                continue to greatly benefit the health, safety and welfare of all of our people and those that work with
                us.</p>
            <p>The introduction of behavioural safety doesn’t replace the need for robust policies, systems, training
                and operational control. It merely reinforces positive behaviour and reduces unsafe behaviour.</p>
            <p>The essence of this programme is one of challenging beliefs and affecting behaviour. It is not an easy
                path to take; it is one which requires commitment, even through hard times.</p>
        </div>
        <div class="row rowPadding rowBlockQuote">
            <div class="icon speechLeft">
                <ion-img src="/assets/speechLeft.svg"></ion-img>
            </div>
            <div class="icon speechRight">
                <ion-img src="/assets/speechRight.svg"></ion-img>
            </div>
            <p>I fully believe the programme will greatly benefit the health, safety and welfare of all of our people
                and those that work with us.</p>
        </div>
        <div class="row rowPadding">
            <p>We must challenge the industry norm in favour of what can be achieved. What can be achieved will depend
                on what we believe. The move to a culture where care of our fellow workers is second nature, where the
                belief that all accidents are preventable prevails, and where we are unwilling to accept unsafe practice
                just because ‘it’s construction’, remains a huge challenge.</p>
        </div>
        <div class="row rowPadding rowBlockQuote blue">
            <div class="icon speechLeft">
                <ion-img src="/assets/speechLeft.svg"></ion-img>
            </div>
            <div class="icon speechRight">
                <ion-img src="/assets/speechRight.svg"></ion-img>
            </div>
            <p>I know that we have the calibre of people within this Group to achieve our aims and make working with
                Galliford Try both a safe and rewarding experience.</p>
        </div>
        <div class="row rowPadding">
            <p>If, however, we truly believe it is both immoral and lacking in vision to compromise our well-being and
                accept risk, just because we’ve done so in the past, then I am confident we can achieve the greatest
                results.</p>
	    <p>The leaders of the business, including myself, must continue to demonstrate strong
                leadership, embracing the concept of "Doing the Right Thing" if our safety culture is to be successful.
            </p>
            <p>If our people truly believe that their safety is important to us, then that’s what we’ll achieve. It is
                up to our leaders to lead, not manage in this aspect; and to exhibit and demonstrate our values each and
                every day – for it is our leaders that set the standard of expectation.</p>
            <p>Challenging the beliefs and affecting the behaviour of those in such a large and diverse organisation is
                a huge undertaking. However, I know that we continue to employ the calibre of people within this
                organisation to achieve our aims and make working with Galliford Try both a safe and rewarding
                experience.</p>
            <p>All that remains is for me to wish you success in the implementation of Challenging Beliefs, Affecting
                Behaviour - in this you have my full support. I also remind you that the success relies on the systems
                usability; therefore, in the spirit of collaboration, we welcome feedback or improvement to the system
                in the pursuit of safety excellence.</p>
        </div>
        <div class="row rowAuthor">
            <p>Peter Truscott<br><em>Chief Executive, Galliford Try plc</em></p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/visions-values-commitments" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
