.companyLogo {
  width: 100%;
  max-width: 115px;
  margin: 0 auto;
  cursor: pointer;
}

.menuIcon {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.menuIcon .button {
  --color: #548c99;
}

ion-menu {
  display: none;
}

ion-icon {
  font-size: 50px;
}

.navBar .hydrated {
  --background: none !important;
}

.heading {
  background: url(../../../assets/headingBG.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 30px 26px 30px 35px;
}

.heading2 {
  background: url(../../../assets/headingBestBG.png) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 30px 26px 30px 35px;
}


.pageListing {
  background: none;
  padding: 0 0 0 15px;
}

.pageListing ul {
  margin: 0 0 30px 0;
  padding: 0;
}

.pageListing ul li {
  list-style: none;
  position: relative;
  text-align: left;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid rgba(154, 156, 158, 0.75);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pageListing ul li .icon {
  width: 14px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 30px;
}

.footerLogo {
  margin: 0 0 30px -15px;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

ion-footer > ion-toolbar {
  --background: #000;
  background: #000;
}

ion-toolbar > ion-img {
  width: 40vw;
  margin: 0 auto;
  padding-top: 10px;
}

@media only screen and (min-width: 769px) {
  ion-toolbar > ion-img {
    max-width: 250px;
  }
}

.footerLogo .hydrated {
  width: 100%;
  max-width: 170px;
  margin: 0 auto;
}

.articleBack {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.articleBack .button {
  --color: #fff;
}
