<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<div class="spinner-wrapper" *ngIf="uploadIsInProgress">
    <ion-spinner name="bubbles"></ion-spinner>
</div>

<ion-content>
    <div class="heading">
        <h1>Challenging Beliefs, Affecting Behaviour</h1>
    </div>
    <div class="linkListing">
        <ion-grid class="grid" size="2" *ngIf="links.length">

            <ion-row class="row" justify-content-around align-items-start>
                <ion-col class="column" size="6" (click)="open(link)" *ngFor="let link of links; let i = index">
                    <ion-img [src]="link?.fields?.icon?.fields?.file?.url"></ion-img>

                    <div ngSwitch="{{link?.fields?.title}}">

                    <div class="listingBackground tools" *ngSwitchCase="'Tools and Resources'">
                    <ion-text>
                        <h2>{{link?.fields?.title}}</h2>
                    </ion-text>
                    </div>  

                    <div class="listingBackground best" *ngSwitchCase="'Sharing Best Practice'">
                    <ion-text>
                        <h2>{{link?.fields?.title}}</h2>
                    </ion-text>
                    </div>  

                    <div class="listingBackground" *ngSwitchDefault>
                    <ion-text>
                        <h2>{{link?.fields?.title}}</h2>
                    </ion-text>
                    </div>
                </div>
                </ion-col>
 <ion-col class="column" size="6" (click)="sharing()">
              
<ion-img src="http://images.ctfassets.net/kst95g92kfwh/7oI7keMzROZODFQ0R4v072/2055f70b3fe232cd2e35eef4a1f56fa9/sharingBestPractices.jpg"></ion-img> 
<div class="listingBackground best">
                    <ion-text>
                        <h2>Sharing Best Practice</h2>
                    </ion-text>
                    </div>  

     </ion-col>


            </ion-row>

        </ion-grid>
    </div>
</ion-content>