body {

  text-align: center;
}

ion-content {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.companyLogo {
  width: 100%;
  max-width: 115px;
  margin: 0 auto;
  cursor: pointer;
}

.menuIcon {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.menuIcon .button {
  --color: #548c99;
}

ion-icon {
  font-size: 50px;
}

.heading {
  background: url(../../../assets/headingBG.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 30px 26px 30px 26px;
}

.linkListing {
  background: url(../../../assets/NavyBG.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 15px 5px;
}

.listingBackground{
  background: url(../../../assets/listingBG.png) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 0;
  margin:0;
  height: 110px;
  margin-top: -5px;
}

.tools {
  background: url(../../../assets/listingToolsBG.png) no-repeat top center;
    background-size: cover;
    h2 {
        color: #000;
    }
}
.best{
  background: url(../../../assets/listingBestBG.png) no-repeat top center;
    background-size: cover;
}

.grid {
  padding: 0;
}

.grid .row {
  margin: 0 0 15px 0;
}

.grid .row .column {
  padding-bottom: 0;
  cursor: pointer;
}
