<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Safe Behaviour Discussions (SBDs)</h1>
        </div>
        <div class="row rowPadding">
            <p>SBDs are used by management to promote and maintain safe behaviours on site by repeatedly engaging with
                operatives to correct poor practice and reaffirm positive behaviours.</p>
            <p>Without such continued attention and safety leadership, operational staff are likely to lapse into bad
                habits, inappropriate shortcuts and unsafe behaviours. This isn’t with the intent of putting themselves
                or others at risk, but in the absence of management safety input, they are forced to make their own
                decisions, which can unknowingly result in negative consequences.</p>
            <p>Short and frequent conversations with operational staff help to maintain their awareness of safety and
                the risks around them but, more importantly, reinforce their behaviour when they are commended and
                complimented for working in a safe manner. Such ‘positive interventions’ are becoming increasingly
                common in our industry, and the Safe Behaviour Discussion is Galliford Try’s response to this
                matter.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/near-miss-reporting" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
