.companyLogo {
  width: 100%;
  max-width: 115px;
  margin: 0 auto;
  cursor: pointer;
}

.menuIcon {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 30px;

  .button {
    --color: #548c99;
  }
}

.upload-title {
  padding: 10px 30px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  ion-icon {
    padding-left: 5px;
  }
}

ion-content {
  --background: #fff;
}

ion-icon {
  font-size: 50px;
}

.articleHeading {
  margin: 0 0 20px 15px;

  h1 {
    padding: 20px 0 15px 20px;
    border-bottom: 1px solid rgba(154, 156, 158, 0.75);
    margin: 0;
    color: #202230;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
  }
}

.row {
  margin: 0 0 0 15px;
}

.rowPadding {
  padding: 0 20px;
}

.back {
  padding: 10px;
  background: url(../../../assets/headingBG.jpg) top center;
  background-size: cover;
  color: #fff;

  .button {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }
}

.appContent {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  p {
    color: #575967;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px 0;
  }
}

.rowBlockQuote {
  margin: 0 0 20px 0;
  padding: 30px 65px 45px 50px;
  background: url(../../../assets/blockquoteOneBG.png) no-repeat bottom center;
  background-size: cover;
  position: relative;

  &.blue {
    background: url(../../../assets/blockquoteTwoBG.png) no-repeat bottom center;
    background-size: cover;
  }

  .icon {
    position: absolute;
    width: 30px;
    height: 20px;
  }

  .speechLeft {
    left: 3%;
    top: 15%;
  }

  .speechRight {
    right: 10%;
    bottom: 25%;
  }

  p {
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    color: #202230;
    margin: 0;
  }
}

.rowAuthor {
  margin: 60px 0 40px 20px;
  padding: 0 20px;

  p {
    margin: 0;
  }
}

.listing {
  padding: 25px 20px 60px 20px;
  background: url(../../../assets/gradBG.jpg) no-repeat top center;
  background-size: cover;

  .listingContent {
    background: #fff;
    padding: 25px 15px;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: -39px;
      background: url(../../../assets/listBoxBottom.png) no-repeat bottom center;
      background-size: cover;
    }

    h2 {
      color: #202230;
      font-size: 20px;
      line-height: 22px;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    ol {
      list-style: none;
      counter-reset: my-awesome-counter;
      margin: 0;
      padding: 0;

      li {
        counter-increment: my-awesome-counter;
        padding-left: 22px;
        position: relative;
        color: #575967;
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
        margin: 0 0 10px 0;

        &::before {
          content: counter(my-awesome-counter) ". ";
          color: #548c99;
          font-weight: bold;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.heading {
  background: url(../../../assets/headingBestBG.png) no-repeat top center;
  background-size: cover;
  text-align: center;
  height: 70px;
  padding: 25px 26px 20px 35px;
  --padding-bottom: 0;

  h1 {
    color: #fff;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
  }
}

.uploadBar {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --background: #000000;
}

.white {
  color: #ffffff;
}

ion-icon {
  font-size: 30px;
  float: right;
}

.uploadForm {
  padding: 5% 10%;

  .list {
    margin-top: 0;
    background: #ffffff;
  }

  .in-list {
    background: #ffffff;
    --background: #ffffff;
  }

  .item .sc-ion-label-md-h {
    white-space: initial;
  }

  .first-list {
    border-width: 1px;
    border-style: none none solid none;
    border-color: #575967;

    .clearer {
      clear: both;
    }
  }

  .text-input {
    padding-top: 5px;
    clear: both;
    --padding-start: 0;
    --padding-end: 0;
    --ion-safe-area-right: 0;
    --border-style: none;

    ion-label {
      font: bold 19px/20px Arial;
    }

    ion-input {
      font: 17px/20px Arial;
      border-width: 1px;
      border-style: none none solid none;
      border-color: #575967;
      margin: 10px 0 20px;
      padding: 8px 12px;
      max-width: 100%;
      width: 100%;
    }
  }

  ion-item {
    padding-top: 5px;
    --padding-start: 0;
    --padding-end: 0;
    --ion-safe-area-right: 0;
    --border-style: none none solid none;
    --border-width: 1px;
    --border-color: #B3B4B6;

    &.last {
      --border-style: none;

      ion-label {
        font: 14px/18px Arial;
        margin-left: 20px;
        margin-top: 7px;
      }

      ion-checkbox {
        margin: 10px 0 0;
        align-self: start;
      }
    }

    ion-label {
      font: bold 19px/20px Arial;
    }

    ion-select {
      font: 17px/20px Arial;
      border: 1px solid #575967;
      margin: 10px 0 20px;
      padding: 8px 12px;
      max-width: 100%;
      width: 100%;
    }
  }

  .descim {
    float: left;
    width: 22vw;
    cursor: pointer;

    &.no-image {
      background: #1e2023;
      border-radius: 5px;
      border: 1px solid #989aa2;

      ion-img {
        height: 40px;
        margin: 8vw auto;
      }
    }
  }

  .descinp {
    float: left;
    width: 70%;
  }

  .upload-button {
    margin: 40px 0;
    background: url(../../../assets/headingBestBG.png) top center;
    background-size: cover;
    color: white !important;
    font: bold 18px/20px Arial;
    height: 50px;
    text-align: left;
    --padding-start: 15px;
    --padding-end: 15px;

    .text {
      display: inline-block;
      width: 100%;
      text-align: left;
      text-transform: none;
    }
  }

  ion-button:disabled,
  ion-button[disabled] {
    background: url(../../../assets/headingBestBGdisabled.png) top center;
  }
}

ion-item.item-has-focus {
  --highlight-background: transparent !important;
  --full-highlight-height: 0 !important;
  --inset-highlight-height: 0 !important;
}

