<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Leadership will ensure success</h1>
        </div>
        <div class="row rowPadding">
            <p>All businesses are expected to take up the Challenging Beliefs, Affecting Behaviour programme. The energy
                and support of the senior management of the Business Units will be reflected in the level of measurable
                success.</p>
            <p>All divisions are expected to proactively appoint the necessary time and resource to deliver the
                Challenging Beliefs, Affecting Behaviour programme including: </p>
	    <p><strong>Divisional and Board Support</strong>  ensure that the uptake and implementation of Challenging
                Beliefs, Affecting Behaviour is discussed, measured and supported as part of routine business planning.
                <br>
                <strong>Appointment of Coach Champions</strong> &mdash; All business units will appoint a Coach Champion.
                He/she is a senior member of the business unit Leadership Team - typically an Operations Director or
                similar. <br>
                <strong>Appointment of Site Coaches</strong> &mdash; ensure sufficient number and quality of site coaches are
                appointed to support delivery of the Challenging Beliefs, Affecting Behaviour programme at site level
                and to develop and maintain site specific coach plans.<br>
                <strong>Site Coach Plan</strong> &mdash; ensure an appropriate and bespoke Coach Plan is designed, maintained
                and implemented at all work locations.<br>
                <strong>Operational Teams</strong> - should ensure that site activities are planned to support the
                Challenging Beliefs, Affecting Behaviour initiative; for example, by programming time for Worker
                Engagement Forums, First Ten Minutes Briefings and arranging the appropriate level of training and
                induction.<br>
                <strong>Sub-contractors and Suppliers</strong> &mdash; The support and active involvement of all our
                subcontractors and suppliers is pivotal to the success of this initiative. Hence, all contractors and
                suppliers should be made aware of the Challenging Beliefs, Affecting Behaviour Safety Leadership
                Programme and of the requirement for them to fully embrace this initiative. This will include making
                their staff aware of the requirement to take part in and support various worker engagement forums and
                other behavioural safety initiatives. The Tender Enquiry Documents (TED's) and Pre-Order Meeting Minutes
                (POMM's) both contain requirements for the supply chain to participate in Challenging Beliefs, Affecting
                Behaviour. <br>
                Appendix 3 includes a sample letter to a subcontractor.<br>
                <strong>All personnel</strong> &mdash; all working practices should be carried out in a climate where safety,
                the concept of care and our safety vision are paramount. Workers should be actively encouraged to
                intervene in a positive manner with their colleagues, other contractors and superiors to prevent an
                unsafe act or condition.  Various tools to assist in this process are referred to in the Communication and
                Implementation Tools section of this document which begins on page 11.</p>
            <p>[Link to roles and responsibilities]</p>
            <p>[Link to sample Coach Plan]</p>
            <p><strong>Training</strong> &mdash; ensure all personnel (new starters, coaches, leaders, contractors) are
                implemented in line with the strategic plan - see section [X] on training link.</p>
            <p>All Business Units will be supported by the Group HS&E Support Team, who will be responsible for the
                upkeep of the Toolkit, the strategic management of the training elements, and for co-ordinating and
                sharing best practice in implementation.</p>
            <p>As part of the wider Challenging Beliefs, Affecting Behaviour Programme Review, the Toolkit is updated on
                a regular basis and amended to reflect new initiatives, Safety Climate Surveys and feedback from worker
                engagement forums.  The Behavioural Programme Review is undertaken on a regular basis by senior managers
                from all Divisions, the HS&E Support Team, and external partners as appropriate.  Appendix 1 includes a
                list of Review Team members and a sample agenda.</p>
            <p>Implementation of CBAB will be supported by the HS&S support team who are also responsible for the upkeep
                of the toolkit, the strategic management of the training elements, and for coordinating and sharing best
                practice and implementation.</p>
            <p>As part of the wider CBAB programme review, the toolkit will be continually updated to reflect new
                initiatives, performance review and feedback from worker engagement forums.</p>
            <p>A senior leadership team review will be undertaken on a regular basis with representatives of all
                businesses, senior representatives and the HS&S support team.</p>
            <p>In order to gauge the programme’s success, periodic Safety Climate Surveys will take place as
                appropriate. The objectives are to assess the perception of our staff and workforce towards health and
                safety; promote employee involvement in behavioural safety; and to identify areas of strengths and
                weakness in order to improve our safety culture going forward. The findings of any survey will have a
                significant impact in the planning and future development of this behavioural change programme and
                positively shape future strategy. To that end, feedback from all levels is actively encouraged.</p>

        </div>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/overview" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
