<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="appContent">
    <div class="heading">
        <h1>Sharing Best Practice</h1>
    </div>
    <div class="filter">
        <ion-item class="filter-sortBy" lines="none">
            <ion-label style="display: none;">Sort By</ion-label>
            <ion-select [(ngModel)]="sortOrder" (ionChange)="sortArticles()" placeholder="Sort By"
                        [disabled]="filtersOpened">
                <ion-select-option value="title">Title</ion-select-option>
                <ion-select-option value="date-asc">Date Ascending</ion-select-option>
                <ion-select-option value="date-desc">Date Descending</ion-select-option>
            </ion-select>
        </ion-item>
        <button class="filter-button" [ngClass]="{ 'opened': filtersOpened }" (click)="switchFilters()">
            Filter
            <ion-img src="/assets/options.png"></ion-img>
        </button>
    </div>

    <div class="filters-content" *ngIf="filtersOpened">
        <h3>Filter by:</h3>

        <ion-item>
            <ion-label position="floating">Business Unit</ion-label>
            <ion-select multiple [(ngModel)]="filters.buTypes" placeholder="Select a business unit">
                <ion-select-option *ngFor="let buType of buTypes"
                                   [value]="buType.sys.id">{{buType.fields.title}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Tools</ion-label>
            <ion-select multiple [(ngModel)]="filters.toolsTypes" placeholder="Select a tool">
                <ion-select-option *ngFor="let toolsType of toolsTypes"
                                   [value]="toolsType.sys.id">{{toolsType.fields.title}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="last">
            <ion-label position="floating">Detail</ion-label>
            <ion-select multiple [(ngModel)]="filters.detailsTypes" placeholder="Select a detail type">
                <ion-select-option *ngFor="let detailsType of detailsTypes"
                                   [value]="detailsType.sys.id">{{detailsType.fields.title}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div>
            <ion-button expand="full" fill='clear' class="filters-reset-button" (click)="resetFilters()">
                <span class="text">Reset</span>
            </ion-button>

            <ion-button expand="full" fill='clear' class="filters-cancel-button" (click)="switchFilters()">
                <span class="text">Cancel</span>
            </ion-button>

            <ion-button expand="full" fill='clear' class="filters-apply-button" (click)="setFilters()">
                <span class="text">Filter</span>
                <ion-img class="img" src="/assets/arrow-right.png"></ion-img>
            </ion-button>
        </div>
    </div>

    <div class="linkListing" *ngIf="!filtersOpened">
        <ion-grid class="grid" size="2">
            <ion-row class="row" justify-content-around align-items-start>

                <ion-col class="column" size="6" *ngFor="let practice of bestPractices">
                    <ion-img [src]="practice.fields?.photo?.fields?.file?.url"
                             (click)="open(practice)"></ion-img>
                    <p>{{practice.fields.title}}</p>
                    <!--<div *ngIf="hideMe" class="{{practice.fields.id}}"> {{practice.fields}}here your content</div>-->
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer [ngClass]="{ios: isIOS10}">
    <ion-toolbar routerLink="/upload-best-practice" class="uploadBar">
        <ion-text color="light">
            <h3 class="white">
                Upload your best practice
                <ion-img src="/assets/camera.png"></ion-img>
            </h3>
        </ion-text>
    </ion-toolbar>
</ion-footer>

