<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="appContent">
    <div class="heading">
        <h1>Tools and Resources</h1>
    </div>
    <div class="pageListing">
        <ul>
            <li routerLink="/tools-overview" routeDirection="forward">
                Overview
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/what-is-nab" routeDirection="forward">
                What is NAB<br>(No Accident Behaviour)?
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/nab-management" routeDirection="forward">
                NAB management<br>and delivery
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/sbd" routeDirection="forward">
                Safe Behaviour<br>Discussions (SBDs)
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/near-miss-reporting" routeDirection="forward">
                Near Miss Reporting
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/site-safety-charter" routeDirection="forward">
                Site Safety Charter
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/pcs" routeDirection="forward">
                Personal Commitment<br>Statement
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/poster-range" routeDirection="forward">
                Behavioural safety<br>poster range
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/toolbox-talks" routeDirection="forward">
                Toolbox Talks
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/first-ten-minutes" routeDirection="forward">
                First Ten<br>Minutes Briefing
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/safety-reward-schemes" routeDirection="forward">
                Safety Reward<br>Schemes
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/safety-shutdown-initiative" routeDirection="forward">
                Safety Shutdown<br>Initiative
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/directors-tours" routeDirection="forward">
                Directors Tours
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/gtgo" routeDirection="forward">
                GT:GO
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/induction-boards" routeDirection="forward">
                Induction Boards
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/communication-boards" routeDirection="forward">
                Communcation Boards
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
        </ul>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-img src="/assets/challengingBeliefs.png"></ion-img>
    </ion-toolbar>
</ion-footer>
