<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Safety Reward Schemes</h1>
        </div>
        <div class="row rowPadding">
            <p>Whilst there is no agreed standard Group ‘safety reward’ incentive scheme, many sites have demonstrated
                that such initiatives help to increase awareness and responsibility for safety, and encourage workers to
                look out for themselves and others each day. Site-based initiatives can include: priority parking, free
                meals, certificates of recognition provided to subcontractor managing directors and safety awards.</p>
            <p>Appendix 5 includes a sample recognition letter.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/safety-shutdown-initiative" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>

