<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Directors Tours</h1>
        </div>
        <div class="row rowPadding">
            <p>Each business unit will nominate their senior staff anually who will undertake Directors Tours. These
                tours provide senior members of staff the opportunity to demonstrate visible safety leadership.The
                Directors Tour booklet (LINK) provides guidance, hints and tips on how to undertake an effective visit.
                The booklet provides an optional table that can be completed to record the visit which concentrates on
                the key aspects of Back to Basics and Golden Rules. </p>
            <p>Appendix (X) shows the Directors Tour booklet</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/gtgo" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>

