<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>What is NAB (No Accident Behaviour)?</h1>
        </div>
        <div class="row rowPadding">
            <p>No Accident Behaviour is a safety initiative project teams can use to declare and commit to their chosen
                safe behaviours, and agree to intervene when others do not act safely.</p>
            <p>NAB has two main objectives:</p>
            <ol>
                <li>To further improve attitudes towards safety, bringing our culture to an industry-leading level of
                    safety excellence.
                </li>
                <li>To empower subcontractors and the workforce to deliver a high level of personal safety
                    performance.
                </li>
            </ol>
            <p>NAB is designed to enable subcontractors, operatives and management to openly engage, take part in safety
                forums and have a direct and positive impact on the safety of all of those on site. Subcontractors and
                operatives are encouraged to participate in behavioural committees, feedback to site management and
                actively intervene on unsafe acts or conditions.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/nab-management" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
