<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="articleBack">
            <ion-back-button defaultHref="">
            </ion-back-button>
        </ion-buttons>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero" *ngIf="article?.fields?.photo">
            <ion-img [src]="article?.fields?.photo?.fields?.file?.url"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>{{article?.fields?.title}} by {{article?.fields?.author}}</h1>
            
        </div>
        <div class="row rowPadding desc" style="padding-bottom:20px;" [innerHTML]="article.content"></div>

        <div class="row rowPadding" *ngIf="article?.fields?.businessUnit?.fields?.title">
            <strong>Business Unit</strong>: {{article?.fields?.businessUnit?.fields?.title}}
        </div>
        <div class="row rowPadding" *ngIf="article?.fields?.toolsType?.fields?.title">
            <strong>Tools</strong>: {{article?.fields?.toolsType?.fields?.title}}
        </div>
        <div class="row rowPadding"style="padding-bottom:20px;" *ngIf="article?.fields?.detailType?.fields?.title">
            <strong>Detail</strong>: {{article?.fields?.detailType?.fields?.title}}
        </div>
        <div class="row rowPadding">
            <p>Contact uploader: <a href="mailto:{{article?.fields?.authorEmail}}">{{article?.fields?.authorEmail}}</a></p>
        </div>
    </div>
</ion-content>

<ion-footer [ngClass]="{ios: isIOS10}">
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>
