<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="appContent">
    <div class="heading">
        <h1>An Introduction</h1>
    </div>
    <div class="pageListing">
        <ul>
            <li routerLink="/an-introduction-from-pt" routeDirection="forward">
                An introduction<br>from Peter Truscott
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/visions-values-commitments" routeDirection="forward">
                Vision, Values and<br>Commitments
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/golden-rules-and" routeDirection="forward">
                Golden Rules and<br> Back to Basics
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/golden-rules" routeDirection="forward">
                Golden Rules
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
            <li routerLink="/back-to-basics" routeDirection="forward">
                Back to Basics
                <div class="icon">
                    <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                </div>
            </li>
        </ul>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-img src="/assets/challengingBeliefs.png"></ion-img>
    </ion-toolbar>
</ion-footer>

