<ion-content>
    <div class="header">
        <ion-img src="/assets/logoBlock.jpg"></ion-img>
    </div>
    <div class="pageContent">
        <ion-img class="heroImage" src="/assets/heroImageOne.jpg"></ion-img>
        <div class="pageContentText">
            <h1>Andy, Welcome to the Challenging Beliefs, Affecting Behaviour’ Safety Leadership Programme</h1>
        </div>
    </div>
    <div class="footer">
        <button color="light" icon-end ion-button routeDirection="forward" routerLink="/page3">
            Begin
            <div class="icon">
                <ion-img src="/assets/arrowRight.svg"></ion-img>
            </div>
        </button>
        <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</ion-content>