<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">
    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Safety Shutdown Initiative</h1>
        </div>
        <div class="row rowPadding">
            <p>The Safety Shutdown aims to re-focus our site teams on why health and safety on site must remain of the
                highest standard; and to remind everyone of the possible consequences of getting this wrong. All
                operations across the Group should cease on a selected date in order to relay our current views. All
                personnel need to be reminded of our value that 'Nothing we do is so important that we cannot take the
                time to do it safely’. Taking this time will serve to reinforce this value.</p>

            <p>All operational staff and contractors will be invited to attend a Safety Shutdown where the following
                topics may be discussed:</p>
            <ul>
                <li>Current concerns over safety performance across the Group.</li>
                <li>Current Divisional, Business Unit and site concerns over safety performance.</li>
                <li>Re-visiting our safety vision, values and commitments in relation to health, safety and
                    environmental performance.
                </li>
                <li>Local measures to improve safety performance relating to site-based concerns.</li>
            </ul>

            <p>A Safety Shutdown should be supported by an activity which engages the workforce and this can include the
                following:</p>
            <ul>
                <li>Worker engagement workshops to discuss and debate any pertinent issues relative to each and every
                    site.
                </li>
                <li>Re-briefing on risk assessments and method statements.</li>
                <li>Best practice.</li>
                <li>Question and answer sessions with the site management team.</li>
                <li>A DVD followed by a two-way discussion.</li>
                <li>On-site hazards spotting exercises.</li>
            </ul>

            <p>Note: in addition to the Group Safety Shutdown, Divisions, Business Units and sites are encouraged to
                carry out their own safety shutdowns as appropriate.</p>
            <p>Appendix 7 references a Safety Shutdown presentation template.</p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/directors-tours" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>

