<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="appContent">
    <div class="heading">
        <h1>Sharing Best Practice</h1>
    </div>
    <ion-toolbar class="uploadBar">
        <ion-text (click)="upload()" color="light">
            <h3 class="white upload-title">
                Upload your best practice
                <ion-icon name="close" routerLink="/best-practice"></ion-icon>
            </h3>
        </ion-text>
    </ion-toolbar>

    <div class='uploadForm'>
        <ion-list class="first-list">
            <div class='descim'>
                <ion-img src="/assets/uploadimg.png"></ion-img>
            </div>
            <div class='descinp'>
                <ion-textarea placeholder="Add Description..."></ion-textarea>
            </div>
            <div class="clearer"></div>
        </ion-list>

        <ion-item class="text-input">
            <ion-label position="floating">Name</ion-label>
            <ion-input placeholder="Enter name"></ion-input>
        </ion-item>

        <ion-item class="text-input">
            <ion-label position="floating">Email</ion-label>
            <ion-input placeholder="Enter email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Business Unit</ion-label>
            <ion-select placeholder="Select a business unit" style='width:100%;'>
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Tools</ion-label>
            <ion-select placeholder="Select a tool">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Detail</ion-label>
            <ion-select placeholder="Select detail type">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="last">
            <ion-label>Disclaimer, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud.
            </ion-label>
            <ion-checkbox slot="start" value="disclaimer"></ion-checkbox>
        </ion-item>

        <ion-button expand="full" fill='clear' class="upload-button" (click)="takePicture()" >
            <span class="text">Upload</span>
            <ion-img src="/assets/upload.png"></ion-img>
        </ion-button>
    </div>

</ion-content>
<ion-footer>

</ion-footer>