.bodyCont {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
}

.box {
  flex-basis: 50%;
  margin-bottom: 15px;
}

.left {
  padding-right: 7.5px;
}

.right {
  padding-left: 7.5px;
}

.uploadInputField {
  padding-bottom: 1rem;
  margin-bottom: 1.3rem;
  border-bottom-color: '#000000';
  border-bottom-width: 1px;
}

.inputLabel {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.7rem;
}

.dropdown {
  padding: 0.3rem 0.7rem;
  border-color: black;
  border-width: 1px;
}
.dropDownPlaceholder,
.textInput {
  font-size: 15px;
}
