.navContainer {
  flex-direction: row;
    background-color: #202230;
//   background-color: red;
  height: 80px;
  justify-content: space-between;
}

// .logo {
//   align-self: center;
//   width: 100px;
// }
