<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403871323429-a08f7h47v8c44kccgldrkaktj623qj6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403871323429-a08f7h47v8c44kccgldrkaktj623qj6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCVjDlTa7orzBfSo5qJ41HYWD4di2FeM-A</string>
	<key>GCM_SENDER_ID</key>
	<string>403871323429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gallifordtry.cbab.app</string>
	<key>PROJECT_ID</key>
	<string>galliford-try-cbab</string>
	<key>STORAGE_BUCKET</key>
	<string>galliford-try-cbab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403871323429:ios:eb09e923ca79367a</string>
	<key>DATABASE_URL</key>
	<string>https://galliford-try-cbab.firebaseio.com</string>
</dict>
</plist>