<ion-content>
    <div class="header">
        <ion-img src="/assets/logoBlock.jpg"></ion-img>
    </div>
    <div class="pageContent">
        <div class="pageContentText">
            <h1>Why use this App?</h1>
            <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam orem ipsum dolor sit amet, conse
                ctetuer adipisci.</p>
            <h1>Simple, helpful resources</h1>
            <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam orem ipsum dolor sit amet, conse
                ctetuer adipisci.</p>
        </div>
    </div>
    <div class="footer">
        <button color="light" icon-end ion-button routeDirection="forward" routerLink="/page-listing">
            Begin
            <div class="icon">
                <ion-img src="/assets/arrowRight.svg"></ion-img>
            </div>
        </button>
        <ul>
            <li></li>
            <li></li>
            <li class="active"></li>
        </ul>
    </div>
</ion-content>
