<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="appContent">

    <div class="articleContent">
        <div class="hero">
            <ion-img src="/assets/articleHerotwo.jpg"></ion-img>
        </div>
        <div class="articleHeading">
            <h1>Focusing on our people</h1>
        </div>
        <div class="row rowPadding">
            <p>In order to improve the safety of our industry we need a different approach. Together, we need to evolve
                to an environment where the behaviour of our people, at all levels, is consistent with a maturing safety
                culture. We need to focus beyond systems compliance and increasingly on our people and their attitudes
                towards their own behaviour and good practice.</p>
            <p>Many of the reasons that our people engage in ‘at risk’ behaviour can be combated by systemic or
                educational input such as layout of work environment, or raising awareness of risk. However, most
                reasons revolve around lack of consequence for adopting ‘at risk’ behaviour. Where unsafe practices that
                cut corners to save time and money are either accepted, or worse reinforced by ourselves, then such
                practices become habitual to our people.</p>
            <p>We need to re-establish safety based on our values, address what is important to us individually and as a
                business, and decide what success looks like to our Group. Our values give our people the permission to
                behave in a particular way. How should our people to be treated? Is this a safe place to work? Do we
                care for our fellow team members? Do we really believe everyone has the right to go home to their
                families safely, at any cost? Do we do what we say we do? It is only by answering these tough questions
                that we will gain the trust and support of our workforce.</p>
        </div>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="footerBar">
        <div class="footer footerLinks">
            <ul>
                <li>
                    <ion-buttons>
                        <ion-back-button defaultHref="">
                        </ion-back-button>
                    </ion-buttons>
                </li>
                <li class="next" routerLink="/industry-leading-hss" routeDirection="forward">
                    Next topic
                    <div class="icon">
                        <ion-img src="/assets/arrowRightWhite.svg"></ion-img>
                    </div>
                </li>
            </ul>
        </div>
    </ion-toolbar>
</ion-footer>

