<ion-header class="navBar">
    <ion-toolbar>
        <ion-buttons class="menuIcon" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="companyLogo">
            <ion-img (click)="home()" src="/assets/gallifortLogo.svg"></ion-img>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="appContent">
    <div class="heading">
        <h1 [innerHTML]="static.title"></h1>
    </div>
    <div class="articleContent">
        <div class="row rowPadding" [innerHTML]="static.content"></div>
    </div>
</ion-content>
